name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  ci:
    uses: MolecularSadism/msg_ci_templates/.github/workflows/bevy-0.18-ci.yml@main
